---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { ClientList } from '../components/ClientList.js';
import { CustomerTestimonials } from '../components/CustomerTestimonials.js';
import { ServicesSection } from '../components/ServicesSection';
---

<Layout title="Looptimize: Customer Journey Optimization and Experimentation Agency">
	<Hero />
	<div class="wrapper">
		<ClientList />
		<CustomerTestimonials />
		<ServicesSection client:load />
	</div>
</Layout>
