<section class="wrapper">
  <h4>Trusted by companies worldwide</h4>
  <div class="clients">
    <img src="images/brands/boom-logo.png" alt="Boom By Cindy Joseph Logo">
    <img src="images/brands/capmo-logo.png" alt="Capmo Logo">
    <img src="images/brands/finanzcheck-logo.png" alt="Finanzcheck Logo">
    <img src="images/brands/fleisch-rebellen-logo.png" alt="Fleisch Rebellen Logo">
    <img src="images/brands/karten-macherei-logo.png" alt="Karten Macherei Logo">
    <img src="images/brands/retrobel-logo.png" alt="Retrobel Logo">
    <img src="images/brands/roastmarket-logo.png" alt="Roastmarket Logo">
    <img src="images/brands/westwing-logo.png" alt="Westwing Logo">
  </div>
</section>

<style>
  section {
    background-color: white;
    border-radius: 3px;
    padding: var(--size-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-4);
    text-align: center;
  }

  h4 {
    color: var(--brand);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .clients img {
    height: fit-content;
    transform: scale(0.75);
  }
</style>