<section class="wrapper">
  <div class="hero">
    <h1 class="hero-message display-large">
      We optimize online <span class="primary-text">customer journeys</span> to make you more money
    </h1>
    <p class="under-hero title-large"><span itemprop="name">Looptimize</span> improves your company's online journeys through data-driven experimentation. We understand your customers and explore optimization opportunities in order to grow your revenue.</p>
    <div class="button-list">
      <button class="primary on-primary-text headline-small">Talk With Us</button>
      <button class="secondary on-secondary-text headline-small">Learn How</button>
    </div>
  </div>
  <picture class="promo-art">
    <img src="images/Illustration-Page.png" height="561" width="757" alt="Customer Journey Optimization doodle">
  </picture>
</section>

<style>
  section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    padding: var(--size-10);
    display: grid;
    gap: var(--size-5);
  }

  .hero-message {
    display: grid;
    grid-template-columns: max-content;
    animation: 
      var(--animation-scale-down) reverse,
      var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
    animation-duration: 1s;
  }

  .under-hero {
    margin-block-end: var(--size-3);
  }

  .button-list {
    display: flex;
    gap: var(--size-5);
  }

  button {
    background: white;
    color: var(--brand);
    font-size: var(--font-size-3);
    padding-inline: var(--size-8);
    padding-block: var(--size-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }

  .promo-art > img {
    block-size: 100%;
    object-fit: cover;
  }
</style>
