---
export interface Props {
	title: string;
}

const { title, url } = Astro.props;
const canonicalUrl = new URL(url, Astro.site);
import { TopNavBar } from '../components/TopNavBar.js';
import { WebsiteFooter } from '../components/WebsiteFooter.js';
import "../styles/global.css";

import companyData from '../data/company_details.json';
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <script>
      window.dataLayer = window.dataLayer || [];
    </script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalUrl}>
		<title>{title}</title>
	</head>
	<body itemscope itemtype="https://schema.org/WebPage">
		<div itemprop="mainEntity" itemscope itemtype="https://schema.org/Organization">
      <TopNavBar />
			<main>
				<slot />
			</main>
      <WebsiteFooter />
		</div>
		<script itemprop="mainEntity" type="application/ld+json" set:html={JSON.stringify(companyData)} />
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyAZNrjuhBpHNLkXL1GeKK-leWpbz4BQadI",
        authDomain: "looptimize-website.firebaseapp.com",
        projectId: "looptimize-website",
        storageBucket: "looptimize-website.appspot.com",
        messagingSenderId: "195428476005",
        appId: "1:195428476005:web:6d58e98a776b9f3ff0528c"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    </script>
	</body>
</html>
